
@model ApplicationDevelopmentCourseProject.Controllers.BranchesController.ContactViewModel


<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
</head>
<body>
    @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @id = "contact-form", role = "form" }))
    {
        @Html.ValidationSummary()
        <fieldset>
            <div class="form-div-1">
                <label class="name">
                    @Html.TextBoxFor(m => m.ContactModel.Name, new { @placeholder = "Name *", @type = "text" })
                </label>
            </div>
            <div class="form-div-2">
                <label class="email">
                    @Html.TextBoxFor(m => m.ContactModel.Email, new { @placeholder = "Email Address *", @type = "email" })
                </label>
            </div>
            <div class="form-div-3">
                <label class="phone notRequired">
                    @Html.TextBoxFor(m => m.ContactModel.Telephone, new { @placeholder = "Telephone Number", @type = "text" })
                </label>
            </div>
            <div>
                <label class="message">
                    @Html.TextAreaFor(m => m.ContactModel.Message, new { @placeholder = "Message *" })
                </label>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Send" name="submit" class="button"> <input type="reset" value="Reset" name="MFReset" class="button"><span>* Required Fields</span>
            </div>
        </fieldset>
    }
    <p>Use this page to contact us and see the shop branches.</p>
    <div id="branchesMap" style="width:100%;height:400px;"></div>
</body>
</html>

<script type="text/javascript">
        var map;
        var Latitude, Longitude;
        var markersArray = [];
        var branches = @Json.Serialize(Model.Branches);
        console.log(branches);
        function initialize() {
            var myLatlng1 = new google.maps.LatLng(branches[0].xCoordinate, branches[0].yCoordinate);

            var mapOptions = {
                zoom: 15,
                center: myLatlng1,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('branchesMap'),
                mapOptions);

            initialLocation = new google.maps.LatLng(branches[0].xCoordinate, branches[0].yCoordinate);
            map.setCenter(initialLocation);

            var marker = new google.maps.Marker({
                position: myLatlng1,
            });
            marker.setMap(map);
            var marker = new google.maps.Marker({
                position: initialLocation,
                map: map,
                title: "You are here!"
            });

            getLocations();

    };
    function getLocations() {

        for (i = 0; i < branches.length; i++) {
            PlotMarker(branches[i].xCoordinate, branches[i].yCoordinate)
        }
    }
    function PlotMarker(Lat, Long) {
        var marker1 = new google.maps.Marker({
            position: new google.maps.LatLng(Lat, Long),
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        });
        markersArray.push(marker1);
    }
    google.maps.event.addDomListener(window, "load", initialize);
</script>

