@{
    Layout = null;
}

@functions {

    public string GetUniqueSessionKey(string key)
    {
        return User.Identity.Name.ToString() + key;
    }
}

@model IEnumerable<ApplicationDevelopmentCourseProject.Models.CartItem>
@using Microsoft.AspNetCore.Http
@using ApplicationDevelopmentCourseProject.Controllers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart Page</title>
</head>
<body>
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32(GetUniqueSessionKey("NumOfCartItems")) == 0)
    {
        <h3>Your cart is empty</h3>
    }
    else
    {
        <h3>Shopping Cart (@HttpContextAccessor.HttpContext.Session.GetInt32(GetUniqueSessionKey("NumOfCartItems")) Items)</h3>
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Option</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (CartItem item in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Remove", "Cart", new { id = item.Product.Id })">-</a><a href="@Url.Action("Buy", "Cart", new { id = item.Product.Id, fromShoppingCartPage = true })">+</a></td>
                    <td>@item.Product.Name</td>
                    <td><img src="~/Content/Images/@item.Product.Image" width="60" /> </td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price * item.Quantity)</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6">Sum</td>
                <td>@HttpContextAccessor.HttpContext.Session.GetInt32(GetUniqueSessionKey("CartTotal"))</td>
            </tr>
        </table>
        <br>
        <button>Purchase Order</button>
    }
    <a href="@Url.Action("Index", "Home")">Continue Shopping</a>
</body>
</html>