
@{
    ViewData["Title"] = "Contact Us";
}
@model IEnumerable<ApplicationDevelopmentCourseProject.Models.Branch>


<h1>@ViewData["Title"]</h1>
<p>Use this page to contact us and see the shop branches.</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XCoordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YCoordinate)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XCoordinate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YCoordinate)
                </td>
            </tr>
        }
    }
    </table>

<body onload="DisplayGoogleMap()">

    <!--Google Map-->
    <html>
    <head>
        <script src="https://maps.googleapis.com/maps/api/js?"></script>
    </head>
    <body>
        <div id="myDiv" style="width:100%;height:400px;"></div>

        <script type="text/javascript">
            function DisplayGoogleMap() {

                //Set the Latitude and Longitude of the Map
                var myAddress = new google.maps.LatLng(32.0840, 34.8878);

                //Create Options or set different Characteristics of Google Map
                var mapOptions = {
                    center: myAddress,
                    zoom: 15,
                    minZoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                //Display the Google map in the div control with the defined Options
                var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

                //Set Marker on the Map
                var marker = new google.maps.Marker({
                    position: myAddress,
                    animation: google.maps.Animation.BOUNCE,
                });

                marker.setMap(map);
            }
        </script>
    </body>
    </html>

</body>

